Welcome to helpmegoout.co.uk
============================

You have been invited by a friend to join their community baby sitting circle on helpmegoout.co.uk.

To accept their invitation and register with the site just follow this link: #{@url}

It's free and it's easy.

Thanks for joining.