!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to helpmegoout.co.uk
    %p
      You have been invited by your friend #{@user.email} to join their community baby sitting circle on helpmegoout.co.uk.
    %p To accept their invitation and register with the site just follow this link: #{@url}
    %p It's free and it's easy.
    %p Thanks for joining.