#myCarousel.carousel.slide{"data-interval" => "2000"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item 
      .toddler.carousel-div 
        .carousel-text Tired of this?
    .item 
      .hair.carousel-div 
        .carousel-text Feeling a bit ...
    .item 
      .dinner.carousel-div 
        .carousel-text Need more of this?
    .item
      .clubbing.carousel-div 
        .carousel-text Maybe not this...
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

.footer-text Sign up for carefree nights out