#myCarousel.carousel.slide{"data-interval" => "3000"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item 
      .toddler.carousel-div 
        .carousel-text Tired of this?
    .item 
      .hair.carousel-div 
        .carousel-text Feeling a bit ...
    .item 
      .dinner.carousel-div 
        .carousel-text Need more of this?
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

%hr
.row-fluid.explain
  .span6
    .explain-div
      Simply create one or more circles of friends who you trust to look after your children
    
  .span6
    .explain-div
      When you want to go out, share your request with one or more of your circles here and
      wait for one of your friends to volunteer

- content_for :script do
  :javascript
    $(function(){
      $("#myCarousel").carousel({interval:3000});
    });
