You kindly volunteered to baby sit for your friend #{@request.user.email} on #{@request.date.strftime('%d %B %Y')} from #{@request.start_time} to #{@request.end_time}.

Plans have changed and they no longer need you to baby sit.

Thank you very much for volunteering though.