Oh No
=====

Your friend #{@volunteer_email} can no longer baby sit for you on #{@request.date.strftime('%d %B %Y')} from #{@request.start_time} to #{@request.end_time}

Don't worry we have sent a new request to your circles so hopefully someone else can help.

Thank you