/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$red:#e57152;
$yellow:#e8df89;
$btnPrimaryBackground:$red;
$dark:#2c2e4c;
$background:#ffffd6;
$background:#f6f6f6;
$white:#ffffff;

body{
  font-family :"League Gothic";
}

.content {
  background-color: $background;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 3px 3px 3px rgba(76,43,47,.4);
  -moz-box-shadow: 3px 3px 3px rgba(76,43,47,.4);
  box-shadow: 3px 3px 3px rgba(76,43,47,.4);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($white), to($background));
  background: -webkit-linear-gradient(top, $background, $white);
  background: -moz-linear-gradient(top, $background, $white);
  background: -ms-linear-gradient(top, $background, $white);
  background: -o-linear-gradient(top, $background, $white);
}

.carousel-div{
  background-repeat:no-repeat;
  height:400px;
  background-position:center;
}

.carousel-text{
  position:absolute;
  bottom:0;
  right:10px;
  text-align: right;
  color: $background;
  text-shadow: 2px 2px -2px rgba(76,43,47, 0.4);
  line-height: 100px;
  word-spacing: 2px;
  font-size:90px;
  font-weight:bold; 
  font-style:italic;
}

.toddler{
  background-image :url(image_path('toddler.jpg'));
}

.hair{
  background-image :url(image_path('hair.jpg'));
}

.dinner{
  background-image :url(image_path('dinner.jpg'));
}

.clubbing{
  background-image :url(image_path('clubbing.jpg'));
}

.footer-text{
  text-align:center;
  color: #d9d9d9;
  color: $red;
  text-shadow: 1px 1px -1px rgba(0, 0, 0, 0.3);
  font-size:2.5em;
  font-weight:bold;
  line-height: 30px;
  font-style:italic;
}

.carousel{
  text-align:center;
  margin-left:60px;
  margin-right:60px;
}

.explain{
  color: #fff;
  font-size:18px;
  font-weight:bold;
  font-style:italic;
  text-shadow: 1px 1px -1px rgba(0, 0, 0, 0.3);
  padding-top:10px;
  padding-bottom:10px;
  
  .explain-div {
    padding: 20px;
    background-color: $yellow;
  }
}
